*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form{
    width: 320px;
    height: 580px;
    padding: 20px;
    background-color: bisque;
    border-radius: 20px;
    overflow: auto;
    position: relative;
    left:60px;
    top:30px;
}

span{
    width:fit-content;
}

label{
    font-size: 12px;
    margin: 4px;
    font-family: sans-serif;
}

input{
    font-size: 12px;
    margin: 5px;
    border-radius: 8px;
    height:24px;
    width: 250px;
    padding: 5px;
}
button{
    
    margin: 6px;
    border-radius: 5px;
    width:70px;
    height:26px;
    
}
sup{
    color:red;
}

#mytable{
    display: block;
    position: absolute;
    top:30px;
    right: 400px;
    width:350px;
}

body{
    background-color: aliceblue;
}